#album{
	margin: auto;
	 overflow-y:scroll;
	width: 69%;
	max-width: 2050px;
	height: 1000px;
	-webkit-animation: coucou .5s ease-out;
}

@keyframes coucou {
	0% {
		opacity: 0;
		transform: translateY(200px);
	} 100% {
		transform: translateY(0px);
		opacity: 1;
	}
}

#album img{
	margin-left: 10px;
	margin-top: 10px;
}
#container {
	top: 10px;
		margin-left: 10px;
	margin-top: 10px;
	left: 10px;
	position: relative;
	display:inline-block;
	width: 550px;
	height: 380px;
}
#container img {
	margin-left: 10px;
	margin-top: 10px;
	width: 550px;
	height: 380px;
}
#overlay {
	position: absolute;
	top: 10px;
	left: 10px;
	height: 20px;
	width: 20px;
	text-align: center;
	opacity: 0;
	display: table;
}

#myrow {
	display: table-row;
}
#mycell {
	display: table-cell;
	vertical-align: middle;
}