body{
	/*overflow-y:scroll*/
}
#album{
	margin: auto;
	/*position: absolute;*/
	/*overflow-y: scroll;*/
	/*height: 100%;*/
	/*overflow:scroll;*/
	 overflow-y:scroll;
	/*overflow-y: hidden;*/
	/*white-space:nowrap; */
	/*display:block;*/
	/*background-color: red; */
	width: 69%;
	max-width: 2050px;
/*	width: 1970px;*/
	height: 1000px;
	-webkit-animation: coucou .5s ease-out;

	/*overflow-x: scroll;*/
	/*overflow: scroll;*/
	/*overflow-y: ;*/
}

@keyframes coucou {
	0% {
		opacity: 0;
		transform: translateY(200px);
	} 100% {
		transform: translateY(0px);
		opacity: 1;
	}
}

@keyframes holla {
	0% {
		opacity: 0;
		transform: translateY(200px);
	} 50% {
		transform: translateY(0px);
		opacity: 1;
	}
	100%{
		opacity: 0;
	}
}

#album img{
	margin-left: 10px;
	margin-top: 10px;
/**th: 540px;*/
	/*height: 380px;*/
}
#container {
	top: 10px;
		margin-left: 10px;
	margin-top: 10px;
	left: 10px;
	position: relative;
	display:inline-block;
	width: 550px;
	height: 380px;
	/*border: 2px solid white;*/
}
#container img {
	margin-left: 10px;
	margin-top: 10px;
	width: 550px;
	height: 380px;
}
#overlay {
	position: absolute;
	top: 10px;
	left: 10px;
	height: 20px;
	/*z-index: -999;*/
	width: 20px;
	text-align: center;
	opacity: 0;
	display: table;
}

#overlay:hover {
	/*background: black;*/
	/*opacity: 1;*/
	/*color: white;*/
}

#myrow {
	display: table-row;
}
#mycell {
	display: table-cell;
	vertical-align: middle;
}