body{
	/*overflow-y:scroll*/
	margin:auto;
}
#myalbum{
	margin: auto;
	/*position: absolute;*/
	overflow-y: scroll;
	/*height: 100%;*/
	/*overflow:scroll;*/
	/*overflow-y: hidden;*/
	/*white-space:nowrap; */
	/*display:block;*/
	/*background-color: red; */
	width: auto;
	height: 100%;
	/*width: 90%;*/
	/*overflow-x: scroll;*/
	/*overflow: scroll;*/
	/*overflow-y: ;*/
}

.collagediv{
	display : "interval";
	margin: auto;
	margin-left : "10px";
	margin-top : "10px";
}

#container {
	position: relative;
	display:inline-block;
	width: 440px;
	height: 280px;
	border: 2px solid white;
}
#container img {
width: 440px;
	height: 280px;
}
#overlay {
	position: absolute;
	top: 0;
	left: 0;
	height: 280px;
	width: 440px;
	text-align: center;
	opacity: 0;
	display: table;
}
#overlay:hover {
	background: black;
	opacity: 0.5;
	color: white;
}
#myrow {
	display: table-row;
}
#mycell {
	display: table-cell;
	vertical-align: middle;
}