body{
	/*overflow-y:scroll*/
	margin:auto;
}
#myalbum{
	margin: auto;
	/*position: absolute;*/
	overflow-y: scroll;
	/*height: 100%;*/
	/*overflow:scroll;*/
	/*overflow-y: hidden;*/
	/*white-space:nowrap; */
	/*display:block;*/
	/*background-color: red; */
	width: 1970px;
	height: 100%;
	/*width: 90%;*/
	/*overflow-x: scroll;*/
	/*overflow: scroll;*/
	/*overflow-y: ;*/
}
#myalbum img:hover {
	/*visibility: visible;*/
	opacity: 0.3;
	content: "This is some text";
	/*margin:auto;*/
	/*margin-left: auto;*/
	/*margin-right: auto;*/
	/*display: block;*/
}
.collagediv{
	display : "interval";
	margin-left : "10px";
	margin-top : "10px";
}

#container {
	position: relative;
	display:inline-block;
	width: 640px;
	height: 480px;
	border: 1px solid black;
}
#container img {
	width: 100%;
}
#overlay {
	position: absolute;
	top: 0;
	left: 0;
	height: 450px;
	width: 680px;
	text-align: center;
	opacity: 0;
	display: table;
}
#overlay:hover {
	background: black;
	opacity: 0.5;
	color: white;
}
#myrow {
	display: table-row;
}
#mycell {
	display: table-cell;
	vertical-align: middle;
}