body{
	margin:0;
	font-family : "Avenir Next","Helvetica Neue",Arial,Helvetica,sans-serif;
	font-weight: 500;
	color: black;
	background-color: white;
}
header{
	position:relative;
	height: 15px;
	margin: auto;
	text-align: center;
	background-color: white;
}

header a{
	text-decoration: none;
	cursor: pointer;
	display:inline-block;
	margin-right:25px;
	margin-left:25px;
	top:10px;
	color: black;
}
.menu_text{
	width:100%;
	height: 40%;
}

.text_header:hover{
	border-bottom: 2px solid ;
	padding-bottom: 2px;
	color:grey;
}
.text_header{
	position: relative;
	top: 15px;
	display: inline;
}

#main{
	position: absolute;
	width: 100%;
	height: 90%;
	text-align: center;
	margin: auto;
}
