.full_page{
		margin:0;
	font-family : "Avenir Next","Helvetica Neue",Arial,Helvetica,sans-serif;
	font-weight: 500;
	color: black;
	background-color: white;
	width: 1500px;
	min-width: 2000px;
	height: 100%;
}
#viewUpload{
	display: none;
}
.webcam{
	position: absolute;
	width: 60%;
	height: 90%;
	text-align: center;
	margin: auto;
}
.capture{
	float: left;
	position: absolute;
	left:10%;
	width: 50%;
	text-align: center;
	margin: auto;
}

#file-input
{
    display: none;
}
.galerie{
	float:right;
	position: relative;
	text-align: center;
	margin-top : 10px;
	width: 35%;
	height: 100%;
}
@media only screen and (max-width: 2300px) {
    .galerie{
    	left: 100px;
    } 
    .capture{
    	left:500px;
    }
}

@media only screen and (max-device-width : 768px) {
    .galerie{
    	display:none;
    	/*left: 100px;*/
    }
    #filter{
    	top:1200px;
    }
    .capture{
    	top:50px;
    	left:0px;
    }
 	#footer{
 		display: none;
 	}   
}


#filter{
	direction: rtl;
	float:left;
	position: relative;
	text-align: center;
	overflow: auto;
	width: 25%;
	height: 100%;
}
.img_filter{
	width: 150px;
}
#video{
	float:left;
	height: 480px;
	width:  640px;
	z-index: 1;
}

#superpose_capture{
	margin:auto;
	float: left;
	position: absolute;
	height: 480px;
	z-index: 2;
	width:  640px;
}
.button_snap{
	position: relative;
}
.context_video{
	margin:auto;
	margin-top: 10px;
	height: 1000px;
	width: 640px;
}

.button{
	margin:auto;
	text-align: center;
	width: 9%;
	min-width: 150px;
	height: 6%;
	margin-top: 10px;
	border-radius: 10px;
	border: 2px solid rgb(255,252,0);
	font-size: 150%;
	font-weight: bold;
	letter-spacing: 2px;
	background-color: rgb(255,252,0);
	
}
.button:hover{
	background-color: rgb(247,235,32);
}